data/FlujosJson/cargue-de-data/app_hdi_loadFileHistorico.json
{
  "name": "app_hdi_loadFileHistorico",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "app_hdi_loadFileHistorico",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "1c670bb6-a7d5-48a0-a12a-29242bd0c16f",
      "name": "Webhook",
      "webhookId": "8106f96b-6681-473f-8875-edd9751689d5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "0575e5b4-e64a-4a5f-800d-8769adda54ef",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "command": "=python \"{{ $json.pathPython }}\"  \"{{ $json.pathExcel }}\" \"{{ $json.connectionStringMongo }}\" \"{{ $json.nombreDB }}\" \"{{ $json.nombreColection }}\" \"{{ $json.lote }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        680,
        0
      ],
      "id": "951871c9-9242-4abe-b0c7-66b4bee65989",
      "name": "Execute Command",
      "notesInFlow": true,
      "notes": "Llama un comando Python"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        0
      ],
      "id": "5739bb87-92c0-42c0-9919-017d6c7bc245",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Recomendaciones de uso \n***Workflow: app_hdi_loadFileHistorico***\n\nMantenga inactivo el nodo de click debido a que si se activa presentará conflicto de ejecución con el nodo **When Executed by another workflow** y el nodo **Webhook**. Sólo activar click si se quiere ejecutar manualmente desactivando los otros dos nodos.\n\nPara invocar el script python se requiere instalar las siguientes librerías en el servidor donde corre n8n:\n* pandas, pymongo, openpyxl (pip install pandas pymongo openpyxl)\n\nEn el nodo **Execute Command** se invoca un script con los siguientes parámetros:\n\n* Python \"ubicación de script Python\"\n* Parametro1: \"Path archivo excel\"\n* Parametro2: \"mongodb://usuario:clave@server:puerto\"\n* Parametro3: \"nombre_db\"\n* Parametro4: \"nombre_coleccion\"\n* Parametro5: \"numero de registros por lote\"\n\nPara el uso del **Webhook** tome de ejemplo la estructura del nodo **SetJSONManual** para ser usado como body en el consumo POST.",
        "height": 500,
        "width": 600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1160,
        200
      ],
      "id": "66508a05-770a-473b-83ef-af3c445a668c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"pathPython\": \"./data/_scripts/migrar_excel_mongo.py\",\n  \"pathExcel\": \"./data/_historico/HISTORICO.xlsx\",\n  \"connectionStringMongo\": \"mongodb://localhost:27017\",\n  \"nombreDB\": \"db_app_hdi\",\n  \"nombreColection\": \"historico_atms\",\n  \"lote\":\"10000\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        200
      ],
      "id": "6c30725e-d306-4d4d-926f-0d5515bd0521",
      "name": "SetJSONManual",
      "disabled": true,
      "notes": "Se ingresa manualmente la ruta del archivo que se quiere leer desde disco."
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.stdout\nvar inputLimpio = input.replace(/\\s*\\n\\s*/g, ' ')\n\nreturn {\n  \"output\": inputLimpio\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        0
      ],
      "id": "30c0a3b6-4577-4716-865a-10bcc90dc894",
      "name": "Code",
      "notesInFlow": true,
      "notes": "Limpia la respuesta del comando."
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $json.body || {};  // Datos del Webhook (si existen)\nconst setData = $json || {};           // Datos del nodo Set (si existen)\n\n// Fusionar datos, priorizando los que no son undefined\nconst finalData = {\n    pathPython: webhookData.pathPython || setData.pathPython || null,\n    pathExcel: webhookData.pathExcel || setData.pathExcel || null,\n    connectionStringMongo: webhookData.connectionStringMongo || setData.connectionStringMongo || null,\n    nombreDB: webhookData.nombreDB || setData.nombreDB || null,\n    nombreColection: webhookData.nombreColection || setData.nombreColection || null,\n  lote: webhookData.lote || setData.lote || null\n};\n\n// Retornar los datos procesados\nreturn [{ json: finalData }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "da38f853-b730-4293-aa0d-7882fb6b14d7",
      "name": "ValidateSourceData",
      "notesInFlow": true,
      "notes": "Valida cual de los dos orígenes que indican la ruta de archivo tienen un valor y lo envía al siguiente nodo."
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"pathPython\": \"./data/_scripts/migrar_excel_mongo.py\",\n  \"pathExcel\": \"./data/_historico/HISTORICO.xlsx\",\n  \"connectionStringMongo\": \"mongodb://user_n8n:n8n2025@localhost:27017\",\n  \"nombreDB\": \"db_mongo_n8n\",\n  \"nombreColection\": \"historico_db\",\n  \"lote\":\"10000\"\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -200
      ],
      "id": "f87b1ab0-ab0e-4bb1-bb02-e919938fb78c",
      "name": "When Executed by Another Workflow",
      "notesInFlow": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ValidateSourceData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "SetJSONManual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetJSONManual": {
      "main": [
        [
          {
            "node": "ValidateSourceData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidateSourceData": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "ValidateSourceData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c936667-7651-460f-9a89-3dadd39576c7",
  "meta": {
    "instanceId": "ae116b9c25ca09b6fc49d8e730094c0929b168373f3afe3e106b7c23d9778cc3"
  },
  "id": "YI4MYTbFkAJ0sEmo",
  "tags": []
}