data/FlujosJson/cargue-de-data/app_hdi_readFile.json
{
  "name": "app_hdi_readFile",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"pathGestion\": \"./data/_gestion/inSara.xlsx\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        840
      ],
      "id": "e6853a1f-5e03-4b5f-ba6d-077b99d7e2f7",
      "name": "SetPathManual",
      "disabled": true,
      "notes": "Se ingresa manualmente la ruta del archivo que se quiere leer desde disco."
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{ pathGestion: $json[\"pathGestion\"] !== undefined ? $json[\"pathGestion\"] : $json[\"body\"][\"pathGestion\"] }];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        600
      ],
      "id": "5c79ba98-5d5a-4a22-bc9f-9eb30939a71b",
      "name": "ValidateSourcePath",
      "notes": "Valida cual de los dos orígenes que indican la ruta de archivo tienen un valor y lo envía al siguiente nodo."
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"pathGestion\": \"./data/_gestion/inSara.xlsx\"\n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        420
      ],
      "id": "61f5fdde-f9e4-4be5-9fda-f1220da3712a",
      "name": "When Executed by Another Workflow",
      "notesInFlow": true
    },
    {
      "parameters": {
        "content": "## Recomendaciones de uso \n***Workflow: app_hdi_readFile***\n\n* Mantenga inactivo el nodo de click debido a que si se activa presentará conflicto de ejecución con el nodo **When Executed by another workflow**. Sólo activar si se quiere ejecutar manualmente.",
        "height": 260,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        820
      ],
      "id": "de5478e3-f215-475f-854e-340b898c9ed0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        940,
        600
      ],
      "id": "59de6b0b-2a27-41ce-8d0e-cc8809337446",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "app_hdi_readFile",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        640
      ],
      "id": "7ab7c65d-d130-4440-88c8-b2768922d355",
      "name": "Webhook1",
      "webhookId": "8106f96b-6681-473f-8875-edd9751689d5"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.pathGestion }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        500,
        600
      ],
      "id": "24182cba-29cf-4465-9bc6-299fede032f7",
      "name": "Read/Write Files from Disk1",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        840
      ],
      "id": "5aeea184-4335-4624-9efd-0def2fe51615",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        720,
        600
      ],
      "id": "8c0301b7-ee2b-4e49-9ccd-cdffd39ea65b",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "SetPathManual": {
      "main": [
        [
          {
            "node": "ValidateSourcePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidateSourcePath": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "ValidateSourcePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "ValidateSourcePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "SetPathManual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7929ed24-ef1c-4ffc-b6c9-597ab3061afc",
  "meta": {
    "instanceId": "ae116b9c25ca09b6fc49d8e730094c0929b168373f3afe3e106b7c23d9778cc3"
  },
  "id": "oCF8eYfMwHY96LWk",
  "tags": []
}