data/FlujosJson/cargue-de-data/app_hdi_tiraToDB.json
{
  "name": "app_hdi_tiraToDB",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        180
      ],
      "id": "c627f5c6-cc54-4e3e-8129-03dd507a7fbd",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "command": "=\nnode data/_scripts/code-data-tira-to-db/data_tira_to_db.js {{ $json.rutaDiebold }} {{ $json.rutaNCR }} "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        120,
        0
      ],
      "id": "887a9a33-52d7-44a9-b0d2-1e6c418df956",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "123e1833-0175-4c03-8f13-1663b88854df",
              "name": "rutaNCR",
              "value": "./data/_scripts/code-data-tira-to-db/pull-tira/sbmdebst10_auth_tira_ncr031725.rpt",
              "type": "string"
            },
            {
              "id": "5ebc55ed-7dc8-447f-8a17-1cfe54fd8f37",
              "name": "rutaDiebold",
              "value": "./data/_scripts/code-data-tira-to-db/pull-tira/sbmdebst10_auth_tira_die031725.rpt",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        180
      ],
      "id": "98dda092-6b77-40eb-94d2-b815aa0669ab",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfb2f6ad-8a60-4dcd-9f51-fbf4b98adb7c",
              "name": "exitCode",
              "value": "={{ $json.exitCode }}",
              "type": "number"
            },
            {
              "id": "80d3e305-7633-40fb-8bcb-3fa98273aedf",
              "name": "=stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        -240
      ],
      "id": "11119548-1ba1-4a54-bf54-90f5c0435217",
      "name": "Edit Fields1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Procesar Tiras y Guardar en MongoDB  \n\n> ### Consideraciones  \n> - Verificar que los archivos existen en las rutas indicadas.  \n> - Confirmar que `data_tira_to_db.js` esté actualizado y funcione correctamente.  \n> - Asegurar que MongoDB esté corriendo y accesible.  \n> - Revisar en `data_tira_to_db.js` que la conexión a la base de datos esté configurada correctamente.  \n\n### 1. Entrada (Nodo Set)  \nRecibe JSON con rutas de los archivos:  \n```json\n[\n  {\n    \"rutaNCR\": \"./data/.../sbmdebst10_auth_tira_ncr031725.rpt\",\n    \"rutaDiebold\": \"./data/.../sbmdebst10_auth_tira_die031725.rpt\"\n  }\n]\n```\n### 2. Ejecución (Nodo Execute Command)\nEjecuta el script con:\n```bash\nnode data/_scripts/code-data-tira-to-db/data_tira_to_db.js {{$json.rutaDiebold}} {{$json.rutaNCR}}\n```\n### 3. Salida (Nodo Set)\nRespuesta esperada:\n```json\n[\n  {\n    \"exitCode\": 0,\n    \"stdout\": \"Procesamiento completado\\n294 documentos actualizados en Diebold\\n4897 en NCR\\n...\"\n  }\n]\n```",
        "height": 760,
        "width": 1020,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        380
      ],
      "id": "a88df3c8-7fae-4d07-a4b5-0f34314ab059",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 240,
        "width": 1040,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        -60
      ],
      "id": "35fce7a0-d4a9-482f-8c34-691a602b1fae",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "\n{\n  \"rutaNCR\": \"./data/_scripts/code-data-tira-to-db/pull-tira/sbmdebst10_auth_tira_ncr031725.rpt\",\n  \"rutaDiebold\": \"./data/_scripts/code-data-tira-to-db/pull-tira/sbmdebst10_auth_tira_die031725.rpt\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -180
      ],
      "id": "e79222c8-d5be-4fc6-80f6-9037082ccf17",
      "name": "When Executed by Another Workflow",
      "notesInFlow": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "app_hdi_tiraToDB",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ],
      "id": "439e0dba-daf4-425c-8eb2-07504d096799",
      "name": "Webhook1",
      "webhookId": "8106f96b-6681-473f-8875-edd9751689d5"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $json.body || {};  // Datos del Webhook (si existen)\nconst setData = $json || {};           // Datos del nodo Set (si existen)\n\n// Fusionar datos, priorizando los que no son undefined\nconst finalData = {\n    rutaNCR: webhookData.rutaNCR || setData.rutaNCR || null,\n    rutaDiebold: webhookData.rutaDiebold || setData.rutaDiebold || null\n};\n\n// Retornar los datos procesados\nreturn [{ json: finalData }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ],
      "id": "80583a99-8ec8-4fb1-a355-7b24fdcf9c4f",
      "name": "ValidateSourcePath",
      "notes": "Valida cual de los dos orígenes que indican la ruta de archivo tienen un valor y lo envía al siguiente nodo."
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.stdout\nvar inputLimpio = input.replace(/\\s*\\n\\s*/g, ' ')\n\nreturn {\n  \"output\": inputLimpio\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        0
      ],
      "id": "4c281fa5-723f-4f8a-abe4-29b4e7beb1be",
      "name": "Code",
      "notesInFlow": true,
      "notes": "Limpia la respuesta del comando."
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "id": "62c21f1f-5c86-4adb-bfcc-f655972bd9f8",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "rutaNCR": "./data/_scripts/code-data-tira-to-db/pull-tira/sbmdebst10_auth_tira_ncr031725.rpt",
          "rutaDiebold": "./data/_scripts/code-data-tira-to-db/pull-tira/sbmdebst10_auth_tira_die031725.rpt"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "ValidateSourcePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "ValidateSourcePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "ValidateSourcePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidateSourcePath": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e89f2a22-ae22-4582-9c8b-7614bb325916",
  "meta": {
    "instanceId": "ae116b9c25ca09b6fc49d8e730094c0929b168373f3afe3e106b7c23d9778cc3"
  },
  "id": "b6CUJVHb3IEuiEIt",
  "tags": []
}