data/FlujosJson/app_hdi_agenteIA.json
{
  "name": "app_hdi_agenteIA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "app_hdi_agenteIA",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -300,
        60
      ],
      "id": "6284238d-6a8c-4a8d-be54-e41c6768a8bc",
      "name": "Webhook",
      "webhookId": "8106f96b-6681-473f-8875-edd9751689d5",
      "disabled": true
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"chatInput\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        -120
      ],
      "id": "3006c0c4-e43b-43d2-bd95-edd3afb575f8",
      "name": "When Executed by Another Workflow",
      "notesInFlow": true,
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        320,
        60
      ],
      "id": "e9ef9b87-7e63-4f1b-8013-44f228489578",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        280
      ],
      "id": "2491fa99-1d20-4214-ae65-38a90a1ce767",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TRSHQX9j9D68mKlB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{ chatInput: $json[\"chatInput\"] !== undefined ? $json[\"chatInput\"] : $json[\"body\"][\"chatInput\"] }];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        60
      ],
      "id": "3e2db94f-7a5f-47af-8381-4d878664b55d",
      "name": "ValidateSourcePrompt",
      "notes": "Valida cual de los dos orígenes que indican la ruta de archivo tienen un valor y lo envía al siguiente nodo."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -520,
        240
      ],
      "id": "5273d869-3458-4d38-bea5-e5ab6603badb",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: Los datos JSON provienen del nodo anterior\nconst jsonData = $input.first().json; // Asumiendo que el JSON filtrado se pasa como entrada\n\n// Prompt personalizado en español con reglas mejoradas\nconst customPrompt = `\nComo se imprime en la terminal de un programa hecho en NodeJS?\n`;\n\n// Salida: Devuelve el prompt personalizado como la nueva entrada para el Agente de IA\nreturn [\n  { chatInput: customPrompt }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        240
      ],
      "id": "89a51ade-3481-4b27-a269-d09dc2489b4b",
      "name": "InstruccionAgente"
    },
    {
      "parameters": {
        "mode": "raw",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        240
      ],
      "id": "c1fa9730-5bb0-4d26-af4c-dfa1c7174540",
      "name": "Input Simulado"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "IMFABra",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        400,
        340
      ],
      "id": "ec6f25e1-e218-467a-bb29-c05a42ab2cec",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "FlTXUtWqrwUVYmtZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        440
      ],
      "id": "43e0ef87-5c30-4678-befc-9c0d88591160",
      "name": "When chat message received",
      "webhookId": "36b45671-b602-4444-8e91-03d8f8a433ec"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        60
      ],
      "id": "dca14887-4f11-471c-890c-3ae27b4ce26f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "name": "CalculadoraATM",
        "jsCode": "// Example: convert the incoming query to uppercase and return it\nreturn -4550001"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        500,
        440
      ],
      "id": "3a279bf8-25e7-4fa4-97be-b914460bb4d6",
      "name": "CalculadoraATM"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        580,
        280
      ],
      "id": "c9fa174e-d657-4d12-96ec-484c23fe7faa",
      "name": "Calculator"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Busca registros en MongoDb",
        "collection": "historico_db",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.1,
      "position": [
        700,
        320
      ],
      "id": "96a8880d-aa90-4874-a0e2-53ff15aef261",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "anSQJBGFUtBPKzte",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "ValidateSourcePrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ValidateSourcePrompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "ValidateSourcePrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Input Simulado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InstruccionAgente": {
      "main": [
        [
          {
            "node": "ValidateSourcePrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Simulado": {
      "main": [
        [
          {
            "node": "InstruccionAgente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculadoraATM": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7be1770-f59f-4b0e-8355-05a4cbf0af60",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21edc338617340ff34f5f0ec75b8b8ea4ea9d11a41bf55228658f47b1e558fd0"
  },
  "id": "6PbANOrzizamfmb7",
  "tags": []
}